/* Stolen from
 * https://userstyles.org/styles/136068/neo-dark-lobsters
 *
 * and thne amended.
 */

body
{
  background-color: #222 !important;
  color: #ddd !important;
  font-family: -apple-system, BlinkMacSystemFont !important;
}

a
{
  color: #ccf !important;
}

#wrapper textarea, #wrapper input, #wrapper button
{
  color: #ddd !important;
  background-color: #000 !important;
  border-color: #444 !important;
}

#header .headerlinks a.cur_url
{
  color: #fff !important;
}

#header #headertitle a
{
  color: #fff !important;
}

#header .headerlinks a
{
  color: #ccc !important;
}

#inside li .link a
{
  color: #ccc !important;
}

#inside li .byline
{
  color: #bbb !important;
}

#inside li .byline a
{
  color: #bbb !important;
}

#inside li .domain
{
  color: #bbb !important;
}

#inside .comment a
{
  color: #ccf !important;
}

#wrapper div.morelink a
{
  color: #ccc !important;
}

#wrapper div#footer a
{
  color: #ccc !important;
}

.comment:target
{
  background-color: #444 !important;
}

/* tag badges */
#inside a.tag
{
  background-color: #000 !important;
  border-color: #444 !important;
  color: #aaa !important;
}

#inside a.tag.tag_is_media
{
  background-color: #622 !important;
  border-color: #944 !important;
}

#inside a.tag.tag_announce, #inside a.tag.tag_ask, #inside a.tag.tag_show, #inside a.tag.tag_interview
{
  background-color: #226 !important;
  border-color: #449 !important;
}

/* hats */
#inside span.hat span.crown
{
  background-color: #000 !important;
  border-color: #444 !important;
}

#inside span.hat
{
  border-color: #444 !important;
}

#inside span.hat span.crown, #inside span.hat a
{
  color: #aaa !important;
}

/* tag dropdown */
#inside .select2-container-multi .select2-choices
{
  background-color: #000 !important;
  border-color: #444 !important;
}

#inside .select2-container .select2-drop
{
  background-color: #000 !important;
  border-color: #444 !important;
}

/* search pager */
#inside div.page_link_buttons a
{
  color: #bbb !important;
  background-color: #000 !important;
  border-color: #444 !important;
}

#inside div.page_link_buttons a.cur, #inside div.page_link_buttons span
{
  color: #bbb !important;
  background-color: #222 !important;
  border-color: #222 !important;
}

/* history/filter table */
#inside table.data th
{
  background-color: #000 !important;
  border-color: #444 !important;
}

#inside table.data tr.row0 td, table.data.zebra tr:nth-child(2n) td
{
  background-color: #222 !important;
  border-color: #444 !important;
}

#inside table.data tr.row1 td, table.data.zebra tr:nth-child(2n+1) td
{
  background-color: #000 !important;
  border-color: #444 !important;
}

/* mobile/responsive fixes */
ol.stories.list li.story div.story_liner
{
  background-color: inherit !important;
}

div#header, div#leader
{
  background-color: inherit !important;
  border-bottom: 1px solid #444 !important;
}

ol.stories.list li.story .mobile_comments
{
  background-color: #444 !important;
}

ol.stories.list li.story
{
  border-bottom: 1px solid #444 !important;
}

