/* Stolen from:
 * https://github.com/Poorchop/userstyles/blob/master/HackerNews-Dark/HackerNews-Dark.css
 * and then amended.
 */

body {
    background-color: #262626 !important;
}

body > center > table, input, textarea {
    background-color: #222 !important;
}

body > center > table > tbody > tr:first-child > td {
    background-color: #ff6600 !important;
}

/* Bright text */
td.title a:link, span.comment font, span.comment font a:link, u a:link, span.yclinks a:link, body:not([id]),
td:nth-child(2):not(.subtext) > a:link, input, textarea, p > a, a > u, .c00, .c00 a:link,
a[href="http://www.ycombinator.com/apply/"], a[href="https://www.ycombinator.com/apply/"] {
    color: #ccc !important;
}

.admin td {
    color: #aaa !important;
}

/* search box and comment box */
input, textarea {
    border: 1px solid #828282 !important;
}

body, td, .default, .admin, .admin td, .title, .subtext, .subtext td, .yclinks, .pagetop, .comhead, .comment
{
  font-family: -apple-system, BlinkMacSystemFont !important;
}

.title {
  font-size: 12pt !important;
}

.comment {
  font-size: 11pt !important;
}


.subtext, .pagetop {
  font-size: 10pt !important;
}


