/*
 * All taken from https://github.com/cicerakes/DarkNight-FBMessenger/
 * with slight adjustments
 */

:root, .__fb-light-mode {
		--card-background: #1e1e1e !important;
		--comment-background: #292929 !important;
		--card-background-flat: #292929 !important;
		--disabled-button-background: #373737 !important;
		--divider: #4d4d4d !important;
		--filter-primary-icon: invert(.8) brightness(104%) !important;
		--hosted-view-selected-state: #1D2731 !important;
		--hover-overlay: rgba(255, 255, 255, 0.05) !important;
		--media-inner-border: rgba(255, 255, 255, 0.1) !important;
		--messenger-card-background: #1e1e1e !important;
		--messenger-reply-background: #2a2a2a !important;
		--overlay-alpha-80: rgba(41, 41, 41, 0.8) !important;
		--popover-background: #1e1e1e !important;
		--primary-icon: #cecece !important;
		--primary-text: #cecece !important;
		--scroll-thumb: #5d5d5d !important;
		--secondary-button-background: #353535 !important;
		--secondary-icon: #999 !important;
		--secondary-text: #999 !important;
		--shadow-1: rgba(0, 0, 0, 0.3) !important;
		--shadow-2: rgba(0, 0, 0, 0.4) !important;
		--shadow-5: rgba(0, 0, 0, 0.7) !important;
		--shadow-8: rgba(0, 0, 0, 1) !important;
		--shadow-inset: rgba(000, 000, 000, 0.5) !important;
		--surface-background: #1e1e1e !important;
		--wash: #373737 !important;
		--web-wash: #1e1e1e !important;
	}

	div[style="--secondary-button-background:#e4e6eb;"] {
		--secondary-button-background: #353535 !important;
	}

	body {
		color: #cecece !important;
	}

	/* Delivered icon on left, preferences icons, right menu icons */
	.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.pfnyh3mw.d2edcug0.hpfvmrgz.aovydwv3.p8cu3f6v.kb5gq1qc.taijpn5t.b0upgy8r path, .l9j0dhe7.swg4t2nn path, .a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4 path, path[d="M23.5217 21.662C23.1334 21.3181 23.0787 20.7371 23.3407 20.2894C25.2462 17.0336 24.8027 12.7819 22.0104 9.98953C18.691 6.67007 13.309 6.67007 9.98959 9.98953C6.67014 13.309 6.67014 18.6909 9.98959 22.0103C12.7819 24.8027 17.0337 25.2461 20.2895 23.3406C20.7371 23.0786 21.3181 23.1334 21.662 23.5216L25.2695 27.5946C25.8987 28.3049 26.9963 28.3382 27.6673 27.6672C28.3382 26.9962 28.305 25.8986 27.5947 25.2694L23.5217 21.662ZM20.2426 11.7573C22.5858 14.1004 22.5858 17.8994 20.2426 20.2426C17.8995 22.5857 14.1005 22.5857 11.7574 20.2426C9.41421 17.8994 9.41421 14.1004 11.7574 11.7573C14.1005 9.41415 17.8995 9.41415 20.2426 11.7573Z"] {
		fill: #cecece !important;
	}

	path[d="M0 36h36V0H0z"] {
		fill: none !important;
	}

	/* Icons */
	path[d="M18 30c-6.627 0-12-5.372-12-12 0-6.627 5.373-12 12-12 6.628 0 12 5.373 12 12 0 6.628-5.372 12-12 12zm5.294-16.707l-7.296 7.295-3.254-3.252c-.352-.353-.919-.439-1.323-.148a1 1 0 00-.128 1.522l3.998 3.997a1 1 0 001.414 0l8.002-8.001a1 1 0 10-1.413-1.413z"] {
		fill: #999 !important;
	}

	.sp_o5t_XtHjhxN_1_5x, .sp_b6EwtWDtldw_1_5x, .sp_tW9McJ-nmYe_1_5x, .hu5pjgll.lzf7d6o1.sp_Kzgbbdff-nF_1_5x.sx_2d5499, .hu5pjgll.lzf7d6o1.sp_Kzgbbdff-nF_1_5x.sx_e3b596 {
		filter: invert(.8) !important;
	}

	/* App download */
	.q2y6ezfg {
		background-color: #1e1e1e !important;
	}

	.sp_oCkRoCLKvG7_1_5x {
		filter: invert(.8) !important;
	}

	.sn0e7ne5 {
		box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px !important;
	}

	/* Middle header */
	.bafdgad4 {
		box-shadow: 0 0 4px rgba(0,0,0,.7) !important
	}

	/* Pop-up close icon */
	.sp_GOPGoqMu6Pq_1_5x {
		filter: invert(.8) !important;
	}

	/* Feedback icons */
	.sp_BQbKIpOzOAx_1_5x, .sp_a51jIvPl6dA_1_5x {
		filter: invert(.8) !important;
	}

	/* Reacts */
	.tlilfck6 {
		box-shadow: 0 2px 4px var(--shadow-2) !important;
	}

