[user]
  name = Zameer Manji
  email = zmanji@gmail.com
  useConfigOnly = true

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  st = status
  ci = commit -v
  co = checkout
  d = diff
  dc = diff --cached
  amend = commit --amend
  wip = commit -m "WIP"
  lg = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%an:%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	root = rev-parse --show-toplevel

[core]
  excludesfile = ~/.gitignore_global
  whitespace = trailing-space,space-before-tab
  pager = delta

[delta]
  line-numbers = true
  side-by-side = true

[github]
  user = zmanji

[diff]
  mnemonicprefix = true
  ; Detect renames as well as copies
  renames = copies
  algorithm = patience
  colorMoved = default

[merge]
  stat = true
  conflictStyle = diff3
  ff = only

[status]
  showUntrackedFiles = all

[rebase]
  autostash = true

[rerere]
  enabled = true

[fetch]
  prune = true
[init]
	defaultBranch = main
