[user]
  name = Zameer Manji
  email = zmanji@gmail.com
[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  st = status
  ci = commit -v
  co = checkout
  d = diff
  dc = diff --cached
  amend = commit --amend
  lg = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%an:%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[core]
  excludesfile = ~/.gitignore_global
  whitespace = trailing-space,space-before-tab
[github]
  user = zmanji
[diff]
  mnemonicprefix = true
  ; Detect renames as well as copies
  renames = copies
[merge]
  stat = true
  ; Use fugitive.vim as my git merge tool. Get the benefits of vimdiff and git
  ; awareness at the same time.
	tool = fugitive
[push]
	default = tracking
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
