# Don't track cache folder.
.vim/.cache/
# Don't track the tmp folder.
.vim/tmp/
# Don't track the compiled wordlist.
.vim/custom-dictionary.en.utf8.add.spl
# Don't track emacs tramp connection histroy.
.emacs.d/tramp
# don't track this junk
.emacs.d/transient/
.emacs.d/org-journal.cache
.config/iterm2/AppSupport
.emacs.d/straight/build
.emacs.d/straight/repos/
.emacs.d/straight/build-cache.el
