# NOTE: The `~/.inputrc` file sets the options for GNU Readline. GNU Readline
# is used in bash but also in a variety of other prompts.

# Do not ring the bell ever
set bell-style none

# Case insensitive completion
set completion-ignore-case on

# Tab does completion
tab: complete

# Setup Vi mode
set editing-mode vi

# Enable clearing the screen in insert mode.
set keymap vi-insert
"\C-l": clear-screen
