<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>zmanji.emacs</string>
  <key>ProgramArguments</key>
  <array>
    <!-- should be homebrew cask emacs -->
    <string>/usr/local/bin/emacs</string>
    <string>--fg-daemon</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/zmanji.emacs.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/zmanji.emacs.stderr.log</string>
</dict>
</plist>
