<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>zmanji.startpage</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-c</string>
    <string>/usr/local/bin/python3</string>
    <string>-m</string>
    <string>http.server</string>
    <string>--directory</string>
    <string>~/.config/startpage</string>
    <string>--bind</string>
    <string>127.0.0.1</string>
    <string>18080</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
